<section class="full-width-cta">
  <div class="full-width-cta__container margin-block--med">
    <a href={{ section.settings.cta-url }}>
      {{ section.settings.cta-image | img_url:'1200x' | img_tag: section.settings.cta-image.alt }}
    </a>
  </div>
</section>


{% schema %}

{
  "name": "Full Width CTA",
  "settings": [
    {
      "type": "image_picker",
      "id": "cta-image",
      "label": "CTA Image"
    }, {
      "type": "url",
      "id": "cta-url",
      "label": "CTA url"
    }, {
      "type": "range",
      "id": "max-size",
      "min": 300,
      "max": 1000,
      "step": 50,
      "unit": "px",
      "label": "Image Max Height",
      "default": 750
    }
  ],
  "presets": [
    {
      "category": "Images",
      "name": "Full Width CTA"
    }
  ]
}

{% endschema %}

{% style %}
@media only screen and (min-width: 768px) {
  img {
    max-height: {{ section.settings.max-size }}px;
    object-fit: cover;
  }
}
{% endstyle %}