<section id="header">
  <header class="header">
    <div class="header-container">
      {% include 'site-nav' %}
    </div>
  </header>
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    }
  ]
}
{% endschema %}