<section id="header">
  <header class="header">
    <div class="header-container">
      {% include 'site-nav' %}
    </div>
  </header>
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    }
  ]
}
{% endschema %}

{% style %}
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }

  .header__logo {
    padding: 0 2rem;
  }

  .header__user-links {
    position: absolute;
    left: 0;
    margin-left: 1.2rem;
  }
{% endstyle %}