<section class="our-story">
  <div class="our-story__container container margin-block--med">
    <h1>{{ section.settings.story_heading }}</h1>
    {{ section.settings.story_contents }}
  </div>
</section>

{% schema %}

{
  "name": "Our Story",
  "settings": [
    {
      "type": "text",
      "id": "story_heading",
      "label": "Our Story Heading",
      "default": "Our Story",
      "placeholder": "Our Story"
    }, {
      "type": "textarea",
      "id": "story_contents",
      "label": "Our Story Contents",
      "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque adipisci soluta explicabo harum hic voluptas minus ipsa quaerat tempora.</p>",
      "info": "This section can contain html."
    }
  ]
}

{% endschema %}