<section class="value-props__section margin-block--med" style="background: {{ section.settings.banner_color }}; color: {{ section.settings.text_color }}; fill: {{ section.settings.text_color }}">
  <div class="value-props__container container">
    <ul class="value-props">
      <li>
        <div class="value-prop__container">
          <div class="value-prop__icon">
            {%- include 'icon-lock' -%}
          </div>
          <div class="value-prop__text">
            <h3>SAMPLE TEXT</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="value-prop__container">
          <div class="value-prop__icon">
            {%- include 'icon-lock' -%}
          </div>
          <div class="value-prop__text">
            <h3>SAMPLE TEXT</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="value-prop__container">
          <div class="value-prop__icon">
            {%- include 'icon-lock' -%}
          </div>
          <div class="value-prop__text">
            <h3>SAMPLE TEXT</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

{% schema %}

{
  "name": "Value Props Banner",
  "settings": [
    {
      "type": "color",
      "id": "banner_color",
      "label": "Value Prop Banner Color",
      "default": "#dbdbdb"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Value Prop Icon and Text Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "category": "Banners",
      "name": "Value Props Banner"
    }
  ]
}

{% endschema %}