@import './header.css';
@import './full-width-cta.css';
@import './value-props.css';

*,
:after,
:before,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.container {
	padding: 0.25rem 1rem;
	max-width: 1800px;
	margin: 0 auto;
}
